body {
	font-family: 'Slabo 27px', serif;
}
.font {
	font-family: 'Slabo 27px', serif;

}
.right {
	text-align : right;
}
.inline {
	display : inline-block
}
.content {
	padding : 5px;
}
.message {
	min-height : 60px;
	outline : none;
}
.messages-desktop {
	padding : 0px;
	min-height: 425px;
	min-width : 150px;
	max-height : 425px;
	overflow-y : auto;
}
.messages-mobile {
	margin-bottom:0.5rem;
	padding: 5px 10px 5px 10px;
	height:100%;
}
.msg{
	max-height: 60%;
	min-height : 60%;
}
.message:hover{
	background-color : #D3D3D3;
}
.selected {
	background-color : #009966 !important;
	color :white;
}
.desktop {
 	min-width:1000px; /* suppose you want minimun width of 1000px */
 	width: auto !important;  /* Firefox will set width as auto */
 	width:1000px;  /* As IE ignores !important it will set width as 1000px; */
	max-height : 315px;
	min-height : 315px;
	min-width : 400px;
	padding: 0px 20px 10px 10px;
}
.chatbox {
	overflow-y : auto;
}

.circle {
	width : 5px;
	height : 5px;
	background:#009966 ;
	border-radius: 50%;
	display: inline-block;
}
ul.ui-autocomplete.ui-menu {
  z-index: 1000;
}
.drop{
    padding-left:2px;
    border: 3px dashed #ccc;
}

.drop.drag{
    border: 3px dashed #0c0;
}

.drop > li.playing{
    background-color: #fff;

}

@media screen and (min-width: 700px){
	.input {
		padding-left: 1px;
		padding-right:1px;
		width:100%;
	}
	.input-overlay {
		position:absolute;
		right: 2%;
		bottom:19px;
	}
}
@media screen and (max-width: 700px){
	.input {
		width: 100%;
		float:right;
	}
	.input-mobile{
		bottom : 0;
	}
	#r{
		width:100%;
		float:left;
		margin-bottom:0px
	}
	.input-overlay {
		position:absolute;
		right: 2%;
		bottom:2px;
	}
}
.bubble1
{
	padding: 5px 5px 5px 5px;
	margin-top:5px;
	float:right;
	word-wrap: break-word;
	margin-bottom:3px;
	position: relative;
	width: 80%;
	background: #00FFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.bubble1:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 10px;
	border-color: transparent #00FFFF;
	display: block;
	width: 0;
	right: -10px;
	top: 50%;
}
.bubble2
{
	padding: 5px 5px 5px 5px;
	margin-top:5px;
	float:left;
	word-wrap: break-word;
	margin-bottom:3px;
	position: relative;
	width: 80%;
	margin-left:5px;
	background: #86FF8A;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bubble2:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 10px 15px 0;
	border-color: transparent #86FF8A;
	display: block;
	width: 0;
	left: -10px;
	top: 20%;
}
.footer {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
}

.wrapper {
	overflow-y:auto;
	max-height:94%;
}

a {
	color: #009966;
}
a : hover {
	color : black;
}
a[disabled] {
	color : darkgray;
}
